/* 
Louis Thiemann
CSD 340-306H
10/02/22
Assignment 12.2
*/

html, body{
    font-family:  "Oswald", "Quattrocento", serif;
    font-size: 16px;
    color:white; /*chaning this to black will affect filler image divs*/
    background-color:rgb(93, 109, 136);
}

header{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    background-color:rgba(21, 70, 153, .6);
    color:white;
    margin-top: -30px;
    margin-right: -30px;
    margin-left: -30px;
    padding-top: 20px;
    padding-bottom: 8px;    
    text-align: center;
}

#fillerdiv{
    display: inline-block;
    padding: 40px;
    max-width: 40%;
}

#fillerdiv img{
    max-width: 80%;
    box-shadow: 10px 10px 10px 10PX rgba(0, 0, 0, 0.2);
    border-radius: 50%;  
}

#fillerdiv2{
    display: inline-block;
    padding: 40px;
    max-width: 40%;
}

#fillerdiv2 img{
    max-width: 400px; 
    display: inline-block; 
}

#fillerdiv3{
    display: inline-block;
    padding: 40px;
}

#fillerdiv3 img{
    width: 380px;
     
}

#fillerdiv4{
    display: inline-block;
    padding: 40px;
    padding-left: 200px;
}

#fillerdiv4 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv5{
    display: inline-block;
    padding: 40px;
    padding-left: 20px;
}

#fillerdiv5 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv6{
    display: inline-block;
    padding: 40px;
    padding-left: 40px;
}

#fillerdiv6 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv7{
    display: inline-block;
    padding: 40px;
    padding-left: 40px;
}

#fillerdiv7 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv8{
    display: inline-block;
    padding: 40px;
    padding-left: 40px;
}

#fillerdiv8 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv9{
    display: inline-block;
    padding: 40px;
    padding-left: 40px;
}

#fillerdiv9 img{
    width: 380px; 
    display: inline-block;
}

#fillerdiv10{
    display: inline-block;
    padding: 40px;
    padding-left: 40px;
}

#fillerdiv10 img{
    width: 380px; 
    display: inline-block;
}

#gallery{
    overflow:scroll;
    display:flex;
}

#bio_interview{
    display: block;
    max-width: 200px;
    color: white;
}

h3{
    display:inline-block;
    margin-left: 0%;
}

h1{
    font-weight: 400;
}

#about_para{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width:400px;
    height: 25%;
    text-indent: 20px;
    margin-left: 0%;
    /*overflow:auto;*/
    background-color: rgb(21, 70, 153);
    /*padding: 5%;*/
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    overflow: visible;
    border-radius: 60px;
}

#about_para{
    color: white;
}

#menuBar{
    margin-top: 30px;
    padding: 12px;
    background-color:rgba(21, 70, 153, .8);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

#menuBar{
    text-decoration: none;
}

#menuBar a{
    text-decoration: none;
    padding: 20px;
    color: white;
}

#menuBar a:hover{
    text-decoration:underline;
    cursor: pointer;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#navbar a:hover{
    background-color:#dcd614bd;
    color: black;
}

#container{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

footer{
    background-color:rgba(21, 70, 153, .6);
    color:white;
    margin-top: 80px;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: -30px;
    padding-top: 20px;
    padding-bottom: 8px;    
    text-align: center;
}

#landing_para_div{
    background-color: rgb(21, 70, 153);
    max-width: 1000px;
    padding-top: 20px;
    /*padding-bottom: 40px;
    padding-right: 0px;*/
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    /*margin: auto; */
    display: inline-block;
    margin-bottom: 200px;
    position: absolute;  
}

#landing_para_div p{
    height: 150px;
    max-width:400px; 
    text-indent: 20px; 
    color: white;
    display: inline-block;
}

#interview{
    color: white;
}

#interview li{
    padding: 10px;
}

#interview div{
    max-width: 75%;
}

#cDiv{
    display: inline-block;
    padding: 40px;
    max-width: 40%;
}

#cDiv img{
    max-width: 80%;
    box-shadow: 10px 10px 10px 10PX rgba(0, 0, 0, 0.2);
    border-radius: 50%;  
}

#lDiv{
    display: inline-block;
    padding: 40px;
    max-width: 40%;
    overflow: visible;
}

#lDiv img{
    max-width: 80%;
    box-shadow: 10px 10px 10px 10PX rgba(0, 0, 0, 0.2);
    border-radius: 50%; 
}